<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Covid Tracker</title>
    <link rel="icon" href="images/cv2.png" type="image/icon type">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- jQuery and JS bundle w/ Popper.js -->

    <script src="https://kit.fontawesome.com/b4aee49aa2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/stylec19.css">

  </head>
  <body>
    <!-- navbar -->
    <nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="/">COVID-19 TRACKER</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/india">India</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/covid">What is Covid-19</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/documentation">Documentation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>

        </ul>
      </div>
    </nav>

    <!-- content -->

    <div>
      <h2 class="contenth"><b>Protect yourself and others from COVID-19</b></h2>
      <hr />
      <p>
        If COVID-19 is spreading in your community, stay safe by taking some simple precautions, such as physical distancing, wearing a mask, keeping rooms well ventilated, avoiding crowds, cleaning your hands, and coughing into a bent elbow or tissue.
        </p>
        <br /> <br />
        <h2 class="contenth"><b>What to do to keep yourself and others safe from COVID-19</b></h2>
        <hr />
        <ul class="pointers">
          <li> Maintain at least a 1-metre distance between yourself and others to reduce your risk of infection when they cough, sneeze or speak. Maintain an even greater distance between yourself and others when indoors. The further away, the better.</li>
          <li>Make wearing a mask a normal part of being around other people.  </li>
          <li>Clean your hands before you put your mask on, as well as before and after you take it off.</li>
          <li>Make sure it covers both your nose, mouth and chin.</li>
          </ul>
      </div>
      <br />
      <br />

      <!-- footer -->

      <footer class="footer">
        <a class="color" href="mailto:manpreetgulati20@gmail.com"><i class="social-icon remo fas fa-envelope"></i></a>
        <a class="color" href="https://www.facebook.com/profile.php?id=100013064913644"><i class="social-icon fab fa-facebook-f"></i></a>
        <a class="color" href="https://twitter.com/KaranSi92396004?s=08"><i class="social-icon fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/amandeep-bindra-aa6668180/" target="_blank"><i class="fab fa-linkedin color"></i></i></a>
        <p class="p-footer">© Copyright 2020</p>
      </footer>



    </body>
    </html>
