<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Covid Tracker</title>
    <link rel="icon" href="images/cv2.png" type="image/icon type">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- jQuery and JS bundle w/ Popper.js -->

    <script src="https://kit.fontawesome.com/b4aee49aa2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/stylec19.css">

  </head>
  <body>

    <!-- Navbar -->

    <nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="/">COVID-19 TRACKER</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/india">India</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/covid">What is Covid-19</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/plasma">Donate Plasma</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/documentation">Documentation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>

        </ul>
      </div>
    </nav>


    <!-- carousel -->


    <div id="carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" >
          <h1 class="carousel-text">DONATE PLASMA.</h1>
          </div>
          <div class="carousel-item">
            <h2 class="carousel-text">“Donate your blood for a reason, let the reason to be life”</h2>
              </div>
        <!-- <div class="carousel-item">
          <h3 class="carousel-text">Helpline Email ID : ncov2019@gov.in</h3>
            </div> -->
      </div>
      <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"</span>

      </a>
      <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon"</span>
      </a>
     </div>


    <!-- content -->
<div class="content">


<h2 class="contenth"><b>Coronavirus</b></h2>
<hr />
<p>
  Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.

  Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover without requiring special treatment.  Older people, and those with underlying medical problems like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious illness.

  The best way to prevent and slow down transmission is to be well informed about the COVID-19 virus, the disease it causes and how it spreads. Protect yourself and others from infection by washing your hands or using an alcohol based rub frequently and not touching your face.

  The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when an infected person coughs or sneezes, so it’s important that you also practice respiratory etiquette (for example, by coughing into a flexed elbow).
  </p>
  <br /><br />
  <p>
    COVID-19 appeared in Wuhan, a city in China, in December 2019. Although health officials are still tracing the exact source of this new coronavirus, early hypotheses thought it may be linked to a seafood market in Wuhan, China. Some people who visited the market developed viral pneumonia caused by the new coronavirus. A study that came out on Jan. 25, 2020, notes that the individual with the first reported case became ill on Dec. 1, 2019, and had no link to the seafood market. Investigations are ongoing as to how this virus originated and spread.
  </p>

  </div>

  <a class="link" href="/advice">Protect yourself: advice for public</a>
  <a class="link" href="/symptoms">Symptoms</a>
  <a class="link" href="/treatment">Treatment for Covid-19</a>
  <br /><br /><br />


  <!-- footer -->

  <footer class="footer">
    <a class="color" href="mailto:manpreetgulati20@gmail.com"><i class="social-icon remo fas fa-envelope"></i></a>
    <a class="color" href="https://www.facebook.com/profile.php?id=100013064913644"><i class="social-icon fab fa-facebook-f"></i></a>
    <a class="color" href="https://twitter.com/KaranSi92396004?s=08"><i class="social-icon fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/amandeep-bindra-aa6668180/" target="_blank"><i class="fab fa-linkedin color"></i></i></a>
    <p class="p-footer">© Copyright 2020</p>
  </footer>

    </body>
    </html>
